<form [formGroup]="formUserUpdate" skipValidation (ngSubmit)="saveChange()">
  <p-panel header="Thông tin cơ bản" class="ppanel">
    <div class="field col-12">
      <label for="fullName" class="block"
        >Tên người dùng <span class="required">*</span></label
      >
      <input
        formControlName="fullName"
        id="fullName"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="genderType" class="block"
        >Giới tính <span class="required">*</span></label
      >
      <div class="option-gender">
        <div class="boy">
          <input
            type="radio"
            formControlName="gender"
            name="gender"
            value="male"
            id="maleRadio"
          />Nam
        </div>
        <div class="girl">
          <input
            type="radio"
            formControlName="gender"
            name="gender"
            value="female"
            id="femaleRadio"
          />Nữ
        </div>
      </div>
    </div>
    <div class="field col-12">
      <label for="dob" class="block">Ngày sinh</label>
      <input
        formControlName="dob"
        id="dob"
        pInputText
        type="date"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="avatar" class="block">Ảnh</label>
      <div class="image-user">
        <div class="image-container" *ngIf="avatar !== null">
          <img [src]="avatar" height="50" width="50" />
        </div>
        <input
          type="file"
          [id]="'upload'"
          (change)="onSelectFile($event)"
          hidden
        />
        <label class="button-add-picture" [for]="'upload'">
          <i class="pi pi-plus" style="font-size: 1rem; color: red"></i>
        </label>
      </div>
    </div>
    <div class="field col-12">
      <label for="email" class="block">Email</label>
      <input
        formControlName="email"
        id="email"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="phone" class="block">Số điện thoại</label>
      <input
        formControlName="phone"
        id="phone"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="identityID" class="block">Số căn cước</label>
      <input
        formControlName="identityID"
        id="identityID"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="address" class="block">Địa chỉ</label>
      <input
        formControlName="address"
        id="address"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="occupation" class="block">Nghề nghiệp</label>
      <input
        formControlName="occupation"
        id="occupation"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="country" class="block">Quốc gia</label>
      <input
        formControlName="country"
        id="country"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12 button-submit-container">
      <p-button
        label="Hoàn tất"
        icon="pi pi-check"
        class="button-submit"
        type="submit"
        [disabled]="!formUserUpdate.valid"
      ></p-button>
    </div>
  </p-panel>
</form>
