.option-gender{
    display: flex;
}

.boy{
    padding-right: 30px;
}

.image-container {
    position: relative;
    display: inline-block;
  }
.image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
} 
.opacity-label{
    opacity: 0.5;
} 
.button-add-picture-variant{
    border-style: dashed;
    padding: 5px;
    background-color: #fff;
    border-color: #b7b7b7;
    color: red;
    border-radius: 5px;
    cursor: pointer;
}
.image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
} 
.opacity-label{
    opacity: 0.5;
} 

.button-add-picture {
    border-style: dashed;
    padding: 5px;
    background-color: #fff;
    border-color: #b7b7b7;
    color: red;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}

.image-user{
    position: relative;
    justify-content: center;
    padding: 10px 25px;
}
.image-container {
    display: flex;
    align-items: center;
    position: relative;
}

.button-submit{
    float: right;
    margin-bottom: 20px;
}
.button-submit-container{
    padding-bottom: 27px;
    padding-top: 0px;
}
.text-danger{
    color: red;
}
img {
    max-width: 100px;
}
