<div class="dash-board-wrapper">
  <ul class="box-info">
    <li>
      <i class="pi pi-inbox"></i>
      <span class="text">
        <h3>{{ numberNewOrders }}</h3>
        <p>Đơn hàng mới</p>
      </span>
    </li>
    <li>
      <i class="pi pi-users"></i>
      <span class="text">
        <h3>{{ numberCustomers }}</h3>
        <p>Lượng khách</p>
      </span>
    </li>
    <li>
      <i class="pi pi-dollar"></i>
      <span class="text">
        <h3>{{ totalPrices }}</h3>
        <p>Tổng thu</p>
      </span>
    </li>
  </ul>

  <div class="chart-revenue">
    <div class="chart-area">
      <apx-chart
        *ngIf="dataLoaded"
        [series]="chartSaleVolumns.series"
        [chart]="chartSaleVolumns.chart"
        [dataLabels]="chartSaleVolumns.dataLabels"
        [plotOptions]="chartSaleVolumns.plotOptions"
        [yaxis]="chartSaleVolumns.yaxis"
        [xaxis]="chartSaleVolumns.xaxis"
        [fill]="chartSaleVolumns.fill"
        [title]="chartSaleVolumns.title"
      ></apx-chart>
    </div>
    <div class="chart-circle">
      <apx-chart
        [series]="chartCircles.series"
        [chart]="chartCircles.chart"
        [labels]="chartCircles.labels"
        [responsive]="chartCircles.responsive"
      ></apx-chart>
    </div>
  </div>

  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Đơn hàng gần đây</h3>
        <i class="pi pi-search"></i>
        <i class="pi pi-filter"></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>Người dùng</th>
            <th>Ngày tạo đơn</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="../../../assets/ImageProducts/asasfd0.png" alt="" />
              <p>John Deep</p>
            </td>
            <td>26/12/2000</td>
            <td><span class="status completed">Hoàn thành</span></td>
          </tr>
          <tr>
            <td>
              <img src="../../../assets/ImageProducts/asasfd0.png" alt="" />
              <p>John Deep</p>
            </td>
            <td>26/12/2000</td>
            <td><span class="status process">Đang vận chuyển</span></td>
          </tr>
          <tr>
            <td>
              <img src="../../../assets/ImageProducts/asasfd0.png" alt="" />
              <p>John Deep</p>
            </td>
            <td>26/12/2000</td>
            <td><span class="status pending">Đang xử lý</span></td>
          </tr>
          <tr>
            <td>
              <img src="../../../assets/ImageProducts/asasfd0.png" alt="" />
              <p>John Deep</p>
            </td>
            <td>26/12/2000</td>
            <td><span class="status process">Đang vận chuyển</span></td>
          </tr>
          <tr>
            <td>
              <img src="../../../assets/ImageProducts/asasfd0.png" alt="" />
              <p>John Deep</p>
            </td>
            <td>26/12/2000</td>
            <td><span class="status pending">Đang xử lý</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="todo">
      <div class="head">
        <h3>Danh mục</h3>
        <i class="pi pi-search"></i>
        <i class="pi pi-filter"></i>
      </div>
      <ul class="todo-list">
        <li class="completed">
          <p>Todo List</p>
          <i class="pi pi-ellipsis-v"></i>
        </li>
        <li class="not-completed">
          <p>Todo List</p>
          <i class="pi pi-ellipsis-v"></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class="pi pi-ellipsis-v"></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class="pi pi-ellipsis-v"></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class="pi pi-ellipsis-v"></i>
        </li>
        <li class="not-completed">
          <p>Todo List</p>
          <i class="pi pi-ellipsis-v"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
