<div
  class="container-variant"
  *ngFor="let option of productOptions; let i = index; trackBy: trackByFn"
>
  <div class="classify taxonomy-group">
    <div class="title-variant">Nhóm phân loại</div>
    <div class="option-list">
      <div class="input-container">
        <input
          type="text"
          class="input-content"
          placeholder="Ví dụ: Màu sắc, Size, ..."
          [(ngModel)]="option.key"
        />
      </div>
    </div>
  </div>
  <div class="classify product-classification">
    <div class="title-variant">Phân loại hàng</div>
    <div class="option-list">
      <div
        class="option-item"
        *ngFor="
          let variant of option.value;
          let j = index;
          trackBy: trackByFnNested
        "
      >
        <div class="input-container">
          <input
            type="text"
            class="input-content"
            placeholder="Ví dụ: Trắng, Đỏ ..."
            [(ngModel)]="option.value[j]"
            (blur)="onInputOptionValue(i, option.value[j], j)"
          />
        </div>
        <div
          class="icon-trash"
          *ngIf="option.value[j] !== ''"
          (click)="onDeleteVariant(i, j)"
        >
          <i class="pi pi-trash" style="font-size: 1rem; color: #708090"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-variant" *ngIf="!addClassifyProduct">
  <div class="classify taxonomy-group">
    <div class="add-classify-product">
      <button
        class="button-add-classify-product"
        (click)="addClassifyProductVariant()"
      >
        <i class="pi pi-plus" style="font-size: 1rem; color: red"></i> Thêm nhóm
        phân loại
      </button>
    </div>
  </div>
</div>
<div class="container-variant-table" *ngIf="productOptions[0]?.key">
  <table>
    <ng-container>
      <tr>
        <ng-container *ngFor="let option of productOptions">
          <th *ngIf="option.key !== ''">{{ option.key }}</th>
        </ng-container>
        <th class="col-rest">Giá</th>
        <th class="col-rest">Số lượng</th>
        <th class="col-rest">SKU phân loại</th>
        <th class="col-rest-picture">Ảnh</th>
      </tr>

      <ng-container
        *ngFor="let optionOne of productOptions[0].value; let index0 = index"
      >
        <ng-container *ngIf="!productOptions[1]?.value">
          <tr *ngIf="!!optionOne">
            <td>{{ optionOne }}</td>
            <td>
              <input
                type="number"
                class="input-content-variant"
                [(ngModel)]="productVariants[index0].price"
              />
            </td>
            <td>
              <input
                type="number"
                class="input-content-variant"
                [(ngModel)]="productVariants[index0].quantity"
              />
            </td>
            <td>
              <input
                type="text"
                class="input-content-variant"
                [(ngModel)]="productVariants[index0].sKU"
              />
            </td>
            <td class="picture">
              <div
                class="image-container"
                *ngIf="productVariants[index0].thumbnailPicture !== ''"
              >
                <img
                  height="50"
                  width="50"
                  src="../../../../assets/ImageProducts/{{
                    productVariants[index0].thumbnailPicture
                  }}"
                />
                <br />
                <input
                  type="file"
                  [id]="'upload-' + index0"
                  (change)="onSelectFile($event, index0)"
                  hidden
                />
                <label
                  class="button-add-picture-variant image-button opacity-label"
                  [for]="'upload-' + index0"
                >
                  <i class="pi pi-plus" style="font-size: 1rem; color: red"></i>
                </label>
              </div>
              <input
                type="file"
                [id]="'upload-' + index0"
                (change)="onSelectFile($event, index0)"
                hidden
              />
              <label
                class="button-add-picture-variant"
                [for]="'upload-' + index0"
                *ngIf="productVariants[index0].thumbnailPicture === ''"
              >
                <i class="pi pi-plus" style="font-size: 1rem; color: red"></i>
              </label>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="productOptions[1]?.value">
          <ng-container
            *ngFor="
              let optionTwo of productOptions[1].value;
              let index1 = index
            "
          >
            <tr *ngIf="!!optionTwo && !!optionOne">
              <td
                *ngIf="index1 === 0"
                [attr.rowspan]="productOptions[1].value.length - 1"
              >
                {{ optionOne }}
              </td>
              <td>{{ optionTwo }}</td>
              <td>
                <input
                  type="text"
                  class="input-content-variant"
                  (blur)="onInputValue()"
                  [(ngModel)]="productVariantTwos[index0][index1].price"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="input-content-variant"
                  (blur)="onInputValue()"
                  [(ngModel)]="productVariantTwos[index0][index1].quantity"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="input-content-variant"
                  (blur)="onInputValue()"
                  [(ngModel)]="productVariantTwos[index0][index1].sKU"
                />
              </td>
              <td class="picture">
                <div
                  class="image-container"
                  *ngIf="
                    productVariantTwos[index0][index1].thumbnailPicture !== ''
                  "
                >
                  <ng-container
                    *ngIf="
                      !productVariantTwos[index0][
                        index1
                      ].thumbnailPicture.startsWith('data:image/jpeg;base64')
                    "
                  >
                    <img
                      src="../../../../assets/ImageProducts/{{
                        productVariantTwos[index0][index1].thumbnailPicture
                      }}"
                      height="50"
                      width="50"
                    />
                  </ng-container>
                  <ng-container
                    *ngIf="
                      productVariantTwos[index0][
                        index1
                      ].thumbnailPicture.startsWith('data:image/jpeg;base64')
                    "
                  >
                    <img
                      [src]="
                        productVariantTwos[index0][index1].thumbnailPicture
                      "
                      height="50"
                      width="50"
                    />
                  </ng-container>

                  <br />
                  <input
                    type="file"
                    [id]="'upload-' + index0 + index1"
                    (change)="onSelectFileVariantTwo($event, index0, index1)"
                    hidden
                  />
                  <label
                    class="button-add-picture-variant image-button opacity-label"
                    [for]="'upload-' + index0 + index1"
                  >
                    <i
                      class="pi pi-plus"
                      style="font-size: 1rem; color: red"
                    ></i>
                  </label>
                </div>
                <input
                  type="file"
                  [id]="'upload-' + index0 + index1"
                  (change)="onSelectFileVariantTwo($event, index0, index1)"
                  hidden
                />
                <label
                  *ngIf="
                    productVariantTwos[index0][index1].thumbnailPicture === ''
                  "
                  class="button-add-picture-variant"
                  [for]="'upload-' + index0 + index1"
                >
                  <i class="pi pi-plus" style="font-size: 1rem; color: red"></i>
                </label>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </table>
</div>
