@{
}

<section id="hero">
    <div class="hero-content">
        <p class="p1">Trade-in-offer</p>
        <p class="p2">Super value deals</p>
        <p class="p3">On all products</p>
        <p class="p4">Save mote with coupons up to 70% off</p>
        <button>Shop Now</button>
    </div>
</section>
<section id="feature" class="feature-p1">
    <div class="fe-box">
        <img src="./img/HomePage/f1.png" alt="">
        <p>Miễn phí ship</p>
    </div>
    <div class="fe-box">
        <img src="./img/HomePage/f2.png" alt="">
        <p>Hỏa tốc</p>
    </div>
    <div class="fe-box">
        <img src="./img/HomePage/f3.png" alt="">
        <p>Tiết kiệm</p>
    </div>
    <div class="fe-box">
        <img src="./img/HomePage/f4.png" alt="">
        <p>Ưu đãi</p>
    </div>
    <div class="fe-box">
        <img src="./img/HomePage/f5.png" alt="">
        <p>Đặt nhiều</p>
    </div>
</section>
<section id="product1" class="section-p1">
    <p class="featured-context-1">Sản phẩm nổi bật<p>
    <p class="featured-context-2">Thiết kế mới hiện tại cho mùa hè sôi động</p>
    <div class="pro-container">
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
    </div>
</section>
<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% Off</span> All t-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>
<section id="product1" class="section-p1">
    <p class="featured-context-1">Sản phẩm mới<p>
    <p class="featured-context-2">Thiết kế mới, trẻ trung, năng động</p>
    <div class="pro-container">
        <div class="pro">
            <img src="./img/HomePage/products/f1.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f2.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f3.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f4.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f5.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f6.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f7.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
        <div class="pro">
            <img src="./img/HomePage/products/f8.jpg" alt="">
            <div class="des">
                <span>ADIDAS</span>
                <p class="featured-name">Cartoon Astronaut</p>
                <div class="star">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p class="featured-money">$77</p>
            </div>
            <a href="#"><i class="bi bi-cart-check cart"></i></a>
        </div>
    </div>
</section>
<section id="sm-banner" class="section-p1">
    <div class="container-banner">
        <div class="banner-box">
            <h4>Deals giá hời</h4>
            <h2>Mua 1 tặng 1</h2>
            <span>Trang phục tốt nhất cho bạn</span>
            <button class="white">Tìm hiểu thêm</button>
        </div>
        <div class="banner-box banner-box-2">
            <h4>Xuân Hạ</h4>
            <h2>Đón mùa mới ngập tràn</h2>
            <span>Trang phục tốt nhất cho bạn</span>
            <button class="normal">Tìm hiểu thêm</button>
        </div>
    </div>
</section>
<section id="banner3">
    <div class="banner-box">
        <h2>MÙA XẢ SALE</h2>
        <h3>Trang phục mùa đông 50% sale</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>MÙA XẢ SALE</h2>
        <h3>Trang phục mùa đông 50% sale</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>MÙA XẢ SALE</h2>
        <h3>Trang phục mùa đông 50% sale</h3>
    </div>
</section>
<section id="newletters" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Đăng ký thông tin hàng mới cập nhật</h4>
        <p>Đăng ký email để nhận thông tin và <span>khuyến mại</span> mới nhất của shop</p>
    </div>
    <div class="form">
        <input type="text" placeholder="Email của bạn">
        <button class="normal">Đăng ký</button>
    </div>
</section>


