<div class="container">
  <p-breadcrumb
    class="max-w-full"
    [model]="items"
    [home]="home"
    id="ui-breadcrumb"
  ></p-breadcrumb>
  <p-panel header="Infomation">
    <div class="field col-12">
      <label for="name" class="block"
        >Name <span class="required">*</span></label
      >
      <input id="name" pInputText type="text" class="w-full" />
    </div>
    <div class="field col-12">
      <label for="code" class="block"
        >Code <span class="required">*</span></label
      >
      <input id="code" pInputText type="text" class="w-full" />
    </div>
    <div class="field col-12">
      <label for="thumbnailpicture" class="block">ThumbnailPicture </label>
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        [auto]="true"
        chooseLabel="Upload"
        chooseIcon="pi pi-upload"
      ></p-fileUpload>
    </div>
    <div class="field col-12">
      <label for="product-type" class="block"
        >ProductType <span class="required">*</span></label
      >
      <p-dropdown
        [options]="productTypes"
        placeholder="Select a Product Type"
      ></p-dropdown>
    </div>
    <div class="field col-12">
      <label for="code" class="block">Add Product Variant</label>
      <p-button
        label="Create"
        icon="pi pi-plus"
        (click)="showAddModal()"
      ></p-button>
    </div>
    <div class="field col-12">
      <label for="price" class="block"
        >Price <span class="required">*</span></label
      >
      <input id="price" pInputText type="text" class="w-full" />
    </div>
    <div class="field col-12">
      <label for="quantity" class="block"
        >Quantity <span class="required">*</span></label
      >
      <input id="quantity" pInputText type="text" class="w-full" />
    </div>
    <div class="field col-12">
      <label for="category-name" class="block"
        >CategoryName <span class="required">*</span></label
      >
      <input id="category-name" pInputText type="text" class="w-full" />
    </div>
    <div class="field col-12">
      <label for="manufacturer-name" class="block"
        >ManufacturerName <span class="required">*</span></label
      >
      <input id="manufacturer-name" pInputText type="text" class="w-full" />
    </div>
    <div class="field col-12">
      <label for="description" class="block">Description</label>
      <textarea rows="10" cols="100" pInputTextarea></textarea>
    </div>
    <div class="field col-12" id="true-false">
      <div class="active-button">
        <div class="label-active-visibility">
          <label for="is-active"
            >IsActive <span class="required">*</span></label
          >
        </div>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="defaultOptionActive"
        ></p-selectButton>
      </div>
      <div class="visibility-button">
        <div class="label-active-visibility">
          <label for="is-visibility"
            >IsVisibility <span class="required">*</span></label
          >
        </div>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="defaultOptionVisibily"
        ></p-selectButton>
      </div>
    </div>
  </p-panel>
</div>
