.fix-role{
    display: flex;
    text-align: center;    
    justify-content: center;
    margin-left: -40px;
}

.fix-role .pi-eye{
    color: red;
    cursor: pointer;
}

.fix-role .pi-eye:hover{
    color: rgb(201, 198, 56)
}