<div class="container">
  <p-panel header="Thông tin cơ bản" class="ppanel">
    <div class="field col-12">
      <label for="name" class="block"
        >Tên sản phẩm <span class="required">*</span></label
      >
      <input
        [(ngModel)]="productUpdate.name"
        id="name"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="code" class="block"
        >Mã sản phẩm <span class="required">*</span></label
      >
      <input
        [(ngModel)]="productUpdate.code"
        id="code"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="thumbnailpicture" class="block">Thêm ảnh </label>
      <div class="list-image-product">
        <ng-container *ngFor="let img of imageProducts; let i = index">
          <div
            class="image-container"
            *ngIf="!img.startsWith('data:image/jpeg;base64')"
          >
            <img
              src="../../../assets/ImageProducts/{{ img }}"
              height="100"
              width="100"
              class="img-update"
            />
            <div class="close-image" (click)="closeImage(i)">x</div>
          </div>
          <div
            class="image-container"
            *ngIf="img.startsWith('data:image/jpeg;base64')"
          >
            <img [src]="img" height="100" width="100" />
            <div class="close-image" (click)="closeImage(i)">x</div>
          </div>
        </ng-container>
        <ng-container *ngIf="imageCount < 5">
          <input
            type="file"
            [id]="'upload'"
            (change)="onSelectFile($event)"
            multiple
            hidden
          />
          <label
            class="button-add-picture image-button opacity-label"
            [for]="'upload'"
          >
            <i class="pi pi-plus" style="font-size: 1rem; color: red"></i>
          </label>
        </ng-container>
      </div>
    </div>

    <div class="field col-12">
      <label for="description" class="block">Mô tả sản phẩm</label>
      <textarea
        [(ngModel)]="productUpdate.description"
        rows="10"
        cols="100"
        pInputTextarea
      ></textarea>
    </div>
  </p-panel>
  <br />

  <p-panel header="Thông tin chi tiết" class="ppanel">
    <div class="field col-12">
      <label for="product-type" class="block"
        >Loại sản phẩm <span class="required">*</span></label
      >
      <p-dropdown
        [options]="productTypes"
        placeholder="Select a Product Type"
        [(ngModel)]="productUpdate.productType"
      ></p-dropdown>
    </div>
    <div class="field col-12">
      <label for="category-name" class="block"
        >Phân loại ngành <span class="required">*</span></label
      >
      <input
        [(ngModel)]="productUpdate.categoryName"
        id="category-name"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12">
      <label for="manufacturer-name" class="block"
        >Nhà sản xuất <span class="required">*</span></label
      >
      <input
        [(ngModel)]="productUpdate.manufacturerName"
        id="manufacturer-name"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12" id="true-false">
      <div class="active-button">
        <div class="label-active-visibility">
          <label for="is-active">Active <span class="required">*</span></label>
        </div>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="isActiveProduct"
        ></p-selectButton>
      </div>
      <div class="visibility-button">
        <div class="label-active-visibility">
          <label for="is-visibility"
            >Visibility <span class="required">*</span></label
          >
        </div>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="isVisibilityProduct"
        ></p-selectButton>
      </div>
    </div>
  </p-panel>
  <br />

  <p-panel header="Thông tin bán hàng" class="ppanel">
    <div class="field col-12" *ngIf="isAddVisibility">
      <p-button
        icon="pi pi-plus"
        label="Thêm lựa chọn"
        (onClick)="addProductOptions()"
      >
      </p-button>
    </div>

    <div class="product-variant-wrapper" *ngIf="!isAddVisibility">
      <div class="option-variant-wrapper">
        <div class="title-variant-wrapper">Phân loại hàng</div>
        <div class="product-variant option-list">
          <app-variation-update-item
            (productOptionOutputsCaseOne)="
              receiveProductOptionCaseOneData($event)
            "
            (productVariantOutputsCaseOne)="receiveVariantCaseOneData($event)"
            (productOptionOutputsCaseTwo)="
              receiveProductOptionCaseTwoData($event)
            "
            (productVariantOutputsCaseTwo)="receiveVariantCaseTwoData($event)"
          ></app-variation-update-item>
        </div>
      </div>
    </div>
    <div class="field col-12" *ngIf="isAddVisibility">
      <label for="sku" class="block">SKU <span class="required">*</span></label>
      <input
        [(ngModel)]="skuProduct"
        id="sku"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12" *ngIf="isAddVisibility">
      <label for="price" class="block"
        >Giá bán <span class="required">*</span></label
      >
      <input
        [(ngModel)]="priceProduct"
        id="price"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
    <div class="field col-12" *ngIf="isAddVisibility">
      <label for="quantity" class="block"
        >Số lượng <span class="required">*</span></label
      >
      <input
        [(ngModel)]="quantityProduct"
        id="quantity"
        pInputText
        type="text"
        class="w-full"
      />
    </div>
  </p-panel>
  <br />

  <p-button
    label="Update"
    icon="pi pi-check"
    class="button-submit"
    (onClick)="updateProduct()"
  ></p-button>
</div>
