<p-panel header="PHIẾU NHẬP KHO">
  <p-table [value]="tickets">
    <ng-template pTemplate="header">
      <tr>
        <th>Phiếu</th>
        <th>Ngày</th>
        <th>Mã phiếu</th>
        <th>Kho</th>
        <th>Loại</th>
        <th>Người tạo</th>
        <th>Ghi chú</th>
        <th>Trạng thái</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <!-- <tr>
          <td>{{ user.fullName }}</td>
          <td>
            <img
              src="../../../assets/ImageProducts/{{ user.avatar }}"
              alt="picture"
            />
          </td>
          <td>
            {{ user.genderType }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.phone }}
          </td>
          <td>
            {{ user.address }}
          </td>
          <td>
            <p *ngFor="let role of user.roleTypes">
              {{ role }}
            </p>
          </td>
          <td>
            <div class="fix-role">
              <i class="pi pi-eye" (click)="showAssignRole(user.id)"></i>
            </div>
          </td>
        </tr> -->
    </ng-template>
  </p-table>
</p-panel>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<p-toast></p-toast>
<div class="card flex justify-content-center">
  <p-paginator
    [rows]="maxResultCount"
    [totalRecords]="totalCounts"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[5, 10, 20, 30]"
  ></p-paginator>
</div>
