<div
  class="container-variant"
  *ngFor="let productOption of productOptions; let i = index"
>
  <div class="classify taxonomy-group">
    <div class="title-variant">Nhóm phân loại {{ i + 1 }}</div>
    <div class="option-list">
      <div class="input-container">
        <input
          type="text"
          class="input-content"
          placeholder="Ví dụ: Màu sắc, Size, ..."
          [(ngModel)]="optionTitles[i]"
          (blur)="onInputOptionTile()"
        />
      </div>
    </div>
  </div>
  <div class="classify product-classification">
    <div class="title-variant">Phân loại hàng</div>
    <div class="option-list">
      <div class="option-item" *ngFor="let option of options[i]">
        <div class="input-container">
          <input
            type="text"
            class="input-content"
            placeholder="Ví dụ: Trắng, Đỏ ..."
            [(ngModel)]="option.value"
            (input)="onInputFocus(i, option.value)"
            (blur)="onInputOptionValue(option.value)"
          />
        </div>
        <div class="icon-trash" (click)="onDeleteClassify(i)">
          <i class="pi pi-trash" style="font-size: 1rem; color: #708090"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-variant" *ngIf="indexProductVariant + 1 < 3">
  <div class="classify taxonomy-group">
    <div class="title-variant">
      Nhóm phân loại {{ indexProductVariant + 1 }}
    </div>
    <div class="add-classify-product">
      <button class="button-add-classify-product" (click)="addProductVariant()">
        <i class="pi pi-plus" style="font-size: 1rem; color: red"></i> Thêm nhóm
        phân loại {{ indexProductVariant + 1 }}
      </button>
    </div>
  </div>
</div>

<div class="table-wrapper">
  <div class="table-option-one" *ngIf="optionTitles[0] != null">
    <div class="heading cell-heading">{{ optionTitles[0] }}</div>
    <div class="body-table">
      <div class="row-option-one" *ngFor="let option of optionTitleSeconds">
        <p *ngIf="option !== ''" class="option-value">{{ option }}</p>
        <p *ngIf="option === ''" class="content-space-title"><br /></p>
      </div>
    </div>
  </div>
  <div class="table-option-diff">
    <div class="heading heading-diff">
      <div
        class="diff-option cell-heading-diff"
        *ngIf="optionTitles[1] != null"
      >
        <p>{{ optionTitles[1] }}</p>
      </div>
      <div class="diff-value cell-heading-diff" *ngIf="optionTitles[0] != null">
        <p>Giá</p>
      </div>
      <div class="diff-value cell-heading-diff" *ngIf="optionTitles[0] != null">
        <p>Số lượng</p>
      </div>
      <div class="diff-value cell-heading-diff" *ngIf="optionTitles[0] != null">
        <p>SKU phân loại</p>
      </div>
    </div>
    <div *ngIf="indexProductVariant - 1 === 0">
      <div
        class="body-option-diff"
        *ngFor="let option of options[indexProductVariant - 1]"
      >
        <div class="row row-value">
          <p *ngIf="option.value !== ''">
            <input type="text" class="input-content-variant" />
          </p>
          <div *ngIf="option.value === ''" class="content-space">
            <br />
          </div>
        </div>
        <div class="row row-value">
          <p *ngIf="option.value !== ''">
            <input type="text" class="input-content-variant" />
          </p>
          <div *ngIf="option.value === ''" class="content-space">
            <br />
          </div>
        </div>
        <div class="row row-value">
          <p *ngIf="option.value !== ''">
            <input type="text" class="input-content-variant" />
          </p>
          <div *ngIf="option.value === ''" class="content-space">
            <br />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="indexProductVariant - 1 === 1">
      <div *ngFor="let optionOne of options[0]">
        <div class="body-option-diff" *ngFor="let option of options[1]">
          <div
            class="row row-option option-value"
            *ngIf="optionTitles[1] != null"
          >
            <p>{{ option.value }}</p>
          </div>
          <div class="row row-value" *ngIf="options[0].length > 1">
            <p *ngIf="option.value !== ''">
              <input type="text" class="input-content-variant" />
            </p>
            <div *ngIf="option.value === ''" class="content-space">
              <br />
            </div>
          </div>
          <div class="row row-value" *ngIf="options[0].length > 1">
            <p *ngIf="option.value !== ''">
              <input type="text" class="input-content-variant" />
            </p>
            <div *ngIf="option.value === ''" class="content-space">
              <br />
            </div>
          </div>
          <div class="row row-value" *ngIf="options[0].length > 1">
            <p *ngIf="option.value !== ''">
              <input type="text" class="input-content-variant" />
            </p>
            <div *ngIf="option.value === ''" class="content-space">
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
