<div class="container-variant">
  <div class="classify taxonomy-group">
    <div class="title-variant">Nhóm phân loại {{ indexProductOption }}</div>
    <div class="option-list">
      <div class="input-container">
        <input
          type="text"
          class="input-content"
          placeholder="Ví dụ: Màu sắc, Size, ..."
        />
      </div>
    </div>
  </div>
  <div class="classify product-classification">
    <div class="title-variant">Phân loại hàng</div>
    <div class="option-list">
      <div class="option-item">
        <div class="input-container">
          <input
            type="text"
            class="input-content"
            placeholder="Ví dụ: Trắng, Đỏ ..."
          />
        </div>
        <div class="icon-trash">
          <i class="pi pi-trash" style="font-size: 1rem; color: #708090"></i>
        </div>
      </div>
      <div class="option-item">
        <div class="input-container">
          <input
            type="text"
            class="input-content"
            placeholder="Ví dụ: Trắng, Đỏ ..."
          />
        </div>
        <div class="icon-trash">
          <i class="pi pi-trash" style="font-size: 1rem; color: #708090"></i>
        </div>
      </div>
      <div class="option-item">
        <div class="input-container">
          <input
            type="text"
            class="input-content"
            placeholder="Ví dụ: Trắng, Đỏ ..."
          />
        </div>
        <div class="icon-trash">
          <i class="pi pi-trash" style="font-size: 1rem; color: #708090"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-variant">
  <div class="classify taxonomy-group">
    <div class="title-variant">Nhóm phân loại {{ indexProductOption }}</div>
    <div class="add-classify-product">
      <button class="button-add-classify-product">
        <i class="pi pi-plus" style="font-size: 1rem; color: red"></i> Thêm nhóm
        phân loại {{ indexProductOption }}
      </button>
    </div>
  </div>
</div>
