.box-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 26px;
    margin-top: 36px;
    list-style-type: none;
    padding: 0px;
}

.box-info li{
    padding: 25px;
    background: rgb(255, 255, 255);
    box-shadow: #921677 0 10px 20px -10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 25px;
}
.box-info li .text h3{
    font-weight: 600;
    font-size: 24px;
}

.box-info li .pi{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info li:nth-child(1) .pi{
    background: rgb(144, 137, 240);
    color: blue;
}
.box-info li:nth-child(2) .pi{
    background: rgb(195, 199, 161);
    color: yellow;
}
.box-info li:nth-child(3) .pi{
    background: rgb(243, 206, 175);
    color: orange;
}
.box-info li:nth-child(4) .pi{
    background: rgb(236, 151, 129);
    color: rgb(226, 100, 41);
}

.chart-price{
    display: flex;
    margin-top: 25px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
}
.chart-price apx-chart {
    width: 100%;
}