td p {
    margin: 0;
}

// td {
//     text-align: center !important;
// }

// th{
//     text-align: center !important;
// }
img{
    width: 50px;
    height: 50px;
}

.excel-file{
    display: flex;
    gap: 10px;
}
.import-file{
    display: flex;
}

.button-file{
    border-radius: 10px;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.file-export{
    background: #921677;
    box-shadow: #921677 0 10px 20px -10px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.file-import{
    background: #5E5DF0;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    box-sizing: border-box;
}