<p-panel header="QUẢN LÝ SẢN PHẨM">
  <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Tên</th>
        <th>Ảnh</th>
        <th>Mã</th>
        <th>Phân loại</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>SKU</th>
        <th>
          <p-button
            label="Create"
            icon="pi pi-plus"
            (click)="redirectToProduct()"
          ></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td class="nameProduct">{{ product.name }}</td>
        <td>
          <img
            src="../../../assets/ImageProducts/{{ product.thumbnailPicture }}"
            alt="picture"
          />
        </td>
        <td>{{ product.code }}</td>
        <td>
          <p *ngFor="let productVariant of product.productAttributeDisplayDtos">
            {{ productVariant.attributeNames.join(", ") }}
          </p>
          <br />
        </td>
        <td>
          <p *ngFor="let productVariant of product.productAttributeDisplayDtos">
            <span *ngIf="productVariant.price != 0">{{
              productVariant.price
            }}</span>
          </p>
          <br />
        </td>
        <td>
          <p *ngFor="let productVariant of product.productAttributeDisplayDtos">
            <span *ngIf="productVariant.quantity != 0">{{
              productVariant.quantity
            }}</span>
          </p>
          <br />
        </td>
        <td>
          <p *ngFor="let productVariant of product.productAttributeDisplayDtos">
            {{ productVariant.sku }}
          </p>
          <br />
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="updateProduct(product.id)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">
        Tổng số sản phẩm: {{ totalCounts | number }}
      </div>
    </ng-template>
  </p-table>

  <div class="card flex justify-content-center">
    <p-paginator
      [rows]="maxResultCount"
      [totalRecords]="totalCounts"
      (onPageChange)="onPageChange($event)"
      [rowsPerPageOptions]="[5, 10, 20, 30]"
    ></p-paginator>
  </div>
</p-panel>
